<!DOCTYPE html>
<html lang="en">

<head>
    <title>AutoUOC</title>
    <%- include('../partials/head.ejs') %>
</head>

<body data-theme="cupcake" data-barba="wrapper" class="bg-base-300 p-12 pt-6 min-h-screen">

    <%- include('../partials/nav.ejs') %>

        <main data-barba="container" data-barba-namespace="home">

            <div
                class="overflow-hidden hero bg-gradient-to-br from-primary to-secondary-focus rounded-2xl text-primary-content shadow-lg mb-12">
                <div class="flex-col justify-between w-full max-w-6xl mt-12 mb-12 hero-content">
                    <h1 class="py-4 mb-2 font-extrabold text-center font-title lg:py-6 pt-0 lg:py-0">
                        <div class="mb-2 text-5xl lg:text-7xl">
                            AutoUOC
                        </div>
                        <div class="text-4xl lg:text-xl">
                            Automatically Updating Unclaimed Orders Center for Scratch Request Shops
                        </div>
                    </h1>
                    <div class="flex justify-center flex-1 mt-4 space-x-2 lg:mt-6 lg:justify-start"><a
                            href="/shop/528396" class="lg:btn-lg btn btn-ghost"><span
                                class="hidden md:inline">See</span>&nbsp; example
                        </a> <a href="/start" class="shadow-2xl lg:btn-lg btn">
                            Get Started
                        </a></div>
                </div>
            </div>

            <h1 class="text-neutral opacity-50 uppercase font-bold text-sm text-center">Featured Shops</h1>

            <div class="flex flex-wrap justify-center text-neutral">
                <div class="card shadow m-4 flex-grow">
                    <div class="card-body">
                        <h2 class="card-title">Shop 1</h2>
                        <p>Rerum reiciendis beatae tenetur excepturi</p>
                    </div>
                </div>
                <div class="card shadow m-4 flex-grow">
                    <div class="card-body">
                        <h2 class="card-title">Shop 2</h2>
                        <p>Rerum reiciendis beatae tenetur excepturi</p>
                    </div>
                </div>
                <div class="card shadow m-4 flex-grow">
                    <div class="card-body">
                        <h2 class="card-title">Shop 3</h2>
                        <p>Rerum reiciendis beatae tenetur excepturi</p>
                    </div>
                </div>
                <div class="card shadow m-4 flex-grow">
                    <div class="card-body">
                        <h2 class="card-title">Shop 4</h2>
                        <p>Rerum reiciendis beatae tenetur excepturi</p>
                    </div>
                </div>
                <div class="card shadow m-4 flex-grow">
                    <div class="card-body">
                        <h2 class="card-title">Shop 5</h2>
                        <p>Rerum reiciendis beatae tenetur excepturi</p>
                    </div>
                </div>
                <div class="card shadow m-4 flex-grow">
                    <div class="card-body">
                        <h2 class="card-title">Shop 6</h2>
                        <p>Rerum reiciendis beatae tenetur excepturi</p>
                    </div>
                </div>
            </div>

        </main>

        <%- include('../partials/footer.ejs') %>

            <script>
                barba.init({
                    transitions: [{
                        name: 'default-transition',
                        leave() {
                            // create your stunning leave animation here
                        },
                        enter() {
                            // create your amazing enter animation here
                        }
                    }]
                });
            </script>
</body>

</html>